<div class="comment">
  <label class="comment__label" for="comment-input">Kommentar</label>
  <textarea
    id="comment-input"
    class="comment__input"
    placeholder="Skriv kommentar"
  ></textarea>
</div>