<div class="dashboard-display">
  <div class="dashboard-display__content">
    <div class="dashboard-display__title">Stationsnavn</div>
    <div class="dashboard-display__date">01/12/2025</div>
  </div>
  <div class="dashboard-display__link">›</div>
</div>