<div class="destructive-entry">
  <div class="destructive-entry__box">
    <span class="destructive-entry__name">{{name}}</span>
    <span class="destructive-entry__label">{{amount}} {{unit}}</span>
  </div>
  <button class="destructive-entry__button"></button>
</div>