<div class="dropdown">
  <button class="dropdown__trigger">
    <span class="dropdown__label">{{label}}</span>
    <img src="assets/icons/chevron-down.svg" alt="" />
  </button>
  <div class="dropdown__content">
    <input
      type="text"
      id="{{id}}"
      placeholder="{{placeholder}}"
      class="dropdown__search"
    />
    <div class="dropdown__group">
      <button class="dropdown__item">Hej</button>
      <button class="dropdown__item">Hej</button>
      <button class="dropdown__item">Hej</button>
      <button class="dropdown__item">Hej</button>
      <button class="dropdown__item">Hej</button>
    </div>
  </div>
</div>