<div class="dropdown">
  <button class="dropdown__trigger">
    <span class="dropdown__label">{{label}}</span>
    <span>[ICON]</span>
  </button>
  <div class="dropdown__content">
    <input
      type="text"
      id="{{id}}"
      placeholder="{{placeholder}}"
      class="dropdown__search"
    />
    <div class="dropdown__group">
      <span class="dropdown__item">Hej</span>
      <span class="dropdown__item">Hej</span>
      <span class="dropdown__item">Hej</span>
      <span class="dropdown__item">Hej</span>
      <span class="dropdown__item">Hej</span>
    </div>
  </div>
</div>