<nav class="footerNav">
	<a class="{{#if (eq currentPath '/')}} highlight {{/if}}" href="#" target="">
		<img
			class="footerNav__buttonIcon"
			src="/assets/icons/staff.svg"
			alt=""
		/>
		<li class="footerNav__text">Personale</li>
	</a>

	<a class="{{#if (eq currentPath '/products')}} highlight {{/if}}" href="#" target="">
		<img
			class="footerNav__buttonIcon"
			src="/assets/icons/drop.svg"
			alt=""
		/>
		<li class="footerNav__text">Produkter</li>
	</a>

	<a class="{{#if (eq currentPath '/stations')}} highlight {{/if}}" href="#" target="">
		<img
			class="footerNav__buttonIcon"
			src="/assets/icons/stations.svg"
			alt=""
		/>
		<li class="footerNav__text">Stationer</li>
	</a>
</nav>