<nav class="footerNav">
	<button>
		<img
			class="footerNav__buttonIcon"
			src="/assets/icons/staff.svg"
			alt=""
		/>
		<li class="footerNav__text">Personale</li>
	</button>
	<button>
		<img
			class="footerNav__buttonIcon"
			src="/assets/icons/drop.svg"
			alt=""
		/>
		<li class="footerNav__text">Produkter</li>
	</button>
	<button>
		<img
			class="footerNav__buttonIcon"
			src="/assets/icons/stations.svg"
			alt=""
		/>
		<li class="footerNav__text">Stationer</li>
	</button>
</nav>