<header>
	<button onclick="history.back()">
		<img src="/assets/icons/backArrowsvg.svg" alt="" />
	</button>

	<div></div>

	<button>
		<img src="/assets/icons/logout.svg" alt="" />
	</button>
</header>