<div class="search">
    <input 
    type="text"
    id:"searchInput"
    class="search__input"
    placeholder="{{placeholderText}}"
    >
</div>
<div id="searchDropDown" class="search__dropdown search__dropdown--hidden">
    
</div>