<div class="station-item" data-station-id="{{id}}" data-station-text="{{text}}">
  <div class="station-item__content">
    <div class="station-item__text">{{text}}</div>
  </div>
  <button class="station-item__close" data-action="remove">
    <img src="/assets/icons/close.svg" alt="Fjern station" />
  </button>
</div>