<div class="station-item">
  <div class="station-item__content">
    <div class="station-item__text">OK, Årslevvej 24, 5200</div>
  </div>
  <div class="station-item__close">
    <img src="/assets/icons/close.svg" alt="close" /></div>
</div>