<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      {{! Det er her vores forskellige views skal sættes ind }}
      {{{body}}}
      <button class="btn btn--primary">Hej</button>
      <a href="/" class="btn btn--primary">Hej</a>
      <button class="btn btn--secondary">Hej</button>
      <button class="btn btn--outline">Hej</button>
      <button class="btn btn--ghost">Hej</button>
      <button class="btn btn--destructive">Hej</button>
    </div>
  </body>
</html>