<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      {{> header}}
      {{! Det er her vores forskellige views skal sættes ind }}
      {{{body}}}
    {{> input}}
    {{> seperator}}
    {{> addPhoto}}
    
   
    {{> dashboard-display}}
    {{> station-item}}
    {{> comment}}
      {{> button type="button" text="Hej"}}
      {{> button type="button" text="Hej" variant="primary"}}
      {{> button type="button" text="Hej" variant="secondary"}}
      {{> button href="/" text="Hej" variant="outline"}}
      {{> button type="button" text="Hej" variant="ghost"}}
      {{> button type="button" text="Hej" variant="destructive"}}
      {{> destructiveEntry name="Kalkfjerner" amount="2" unit="liter"}}
      {{> dropdown id="input" label="Vælg produkt" placeholder="Søg efter produkter"}}
    </div>
    {{>footerNav}}
    
  </body>
</html>