<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <div class="container">
      {{>header}}
      {{! Det er her vores forskellige views skal sættes ind }}
      {{{body}}}
      <button class="btn btn--primary">Hej</button>
      <a href="/" class="btn btn--primary">Hej</a>
      <button class="btn btn--secondary">Hej</button>
      <button class="btn btn--outline">Hej</button>
      <button class="btn btn--ghost">Hej</button>
      <button class="btn btn--destructive">Hej</button>
      <div class="destructive-entry">
        <div class="destructive-entry__box">
          <span class="destructive-entry__name">Kalkfjerner</span>
          <span class="destructive-entry__label">2 liter</span>
        </div>
        <button class="destructive-entry__button"></button>
      </div>
    {{> input}}
   {{>seperator}}
    {{> addPhoto}}
    
   
    {{> dashboard-display}}
    {{> station-item}}
    {{> comment}}
    </div>
    {{>footerNav}}
    
  </body>
</html>