@use "../abstracts" as *;

.container {
  margin: auto;
  padding: 2rem $spacing-md 6rem;
  // TEMP
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  max-width: 400px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}
