@use "../abstracts" as *;

.container {
  margin: auto;
  padding: 0 $spacing-md;
}

.mobile-container {
  margin: auto;
  padding: 0 $spacing-md;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.page-container {
  padding-top: 2rem;
  padding-bottom: 6rem;
}
