@use "../abstracts" as *;

.container {
  margin: auto;
  padding: 2rem $spacing-md 6rem;
}

.mobile-container {
  margin: auto;
  padding: 2rem $spacing-md 6rem;
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
  max-width: 400px;
}
