@use "../abstracts" as *;

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 2;
}
