<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
    <div class="flex flex-col gap-lg">
        <form class="add-form" action="/addCompanies" method="POST">
            <div class="flex flex-col gap-md">
                <label for="name">Indtast firmanavn</label>
                <input type="text" id="name" name="name" />
            </div>
            <div class="flex gap-md btn-row">
                {{> button href="/stations" text="Annuller" variant="outline"}}
                {{> button type="submit" text="Tilføj" variant="primary"}}
            </div>
        </form>
        
        <div class="flex flex-col gap-md">
            <label for="listItems">Eksisterende firmaer</label>
            <div class="list-items"> 

                {{#each companies}}
                        {{ name }} <br>
                {{/each}}
            </div>
        </div>
        
        {{> footerNav}}
    </div>
</div>