<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
    <form class="flex flex-col gap-lg" action="/add-product" method="POST">
        {{>labeledInput type="text" id="name" name="name" label="Navn"}}
        <div class="grid grid-cols-2 gap-md">
            {{> button href="/products" text="Annuller" variant="outline"}}
            {{> button type="submit" text="Tilføj"}}
        </div>
    </form>
    {{> footerNav}}
</div>