<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
    <div class="flex flex-col gap-lg">
            <div class="flex flex-col gap-md">
            <p class="labelTilføj">Navn</p>
            {{> input}}
        </div>
            <div class="flex flex-col gap-md">
            <p class="labelTilføj">Mængdeindikater</p>
            {{> dropdownSearch id ="testDropDown" label="Det her er en test" placeholder="Søg efter mængdeindikater" items=testItems}}
    </div>
    <div class="flex gap-md btn-row">
        {{> button href="/" text="Annuller" variant="outline"}}
        {{> button type="button" text="Tilføj" variant="primary"}}
    </div>
    {{> footerNav}}
</div>