<form class="add-station" action="/add-station" method="POST">

  <label class="label-add" for="address">Indtast adresse</label>
  <input type="text" id="address" name="address" />

  <label class="label-add" for="postalCode">Indtast postnummer</label>
  <input type="text" id="postalCode" name="postalCode" />

  <label class="label-add" for="address">Indtast by</label>
  <input type="text" id="city" name="city" />

  <label class="label-add" for="companyId">Stations navn</label>
  <select name="companyId" id="companyId" required>

    {{#each companies}}

      <option value="{{id}}">{{name}}</option>

    {{/each}}

  </select>
  <button class="button--primary" type="submit">Tilføj station</button>
</form>