<div class="flex flex-col gap-xl">
	<h1>{{title}}</h1>
	<form action="/add-station" method="POST" class="flex flex-col gap-lg">
		{{>labeledInput type="text" id="address" name="address" label="Indtast adresse" required=true}}
		{{>labeledInput type="text" id="postal-code" name="postalCode" label="Indtast postnummer" required=true}}
		{{>labeledInput type="text" id="city" name="city" label="Indtast by" required=true}}
		<div class="flex flex-col gap-md">
			{{>label for="company" text="Stations navn"}}
			<select id="company" name="companyId" required>
				{{#each companies}}
					<option value="{{id}}">{{name}}</option>
				{{/each}}
			</select>
		</div>
		<div class="grid grid-cols-2 gap-md">
			{{> button variant="outline" href="/stations" text="Annuller"}}
			{{> button type="submit"  text="Tilføj station"}}
		</div>
	</form>
</div>