<h1>{{title}}</h1>
<form class="add-form" action="/add-station" method="POST">

	<label class="label-add" for="address">Indtast adresse</label>
	<input type="text" id="address" name="address" />

	<label for="postalCode">Indtast postnummer</label>
	<input type="text" id="postalCode" name="postalCode" />

	<label for="address">Indtast by</label>
	<input type="text" id="city" name="city" />

	<label for="companyId">Stations navn</label>
	<select name="companyId" id="companyId" required>

		{{#each companies}}

			<option value="{{id}}">{{name}}</option>

		{{/each}}

	</select>
	<div class="grid grid-cols-2 gap-md">
		{{> button variant="outline" href="/stations" text="Annuller"}}
		{{> button variant="primary" type="submit"  text="Tilføj station"}}
	</div>
</form>