<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
    <div class="flex flex-col gap-lg">
    <div class="flex flex-col gap-md">
        <p class="label-add">Navn</p>
        {{> input}}
    </div>
    <div class="flex flex-col gap-md">
        <p class="label-add">Tildel station</p>
        {{> dropdownSearch id ="testDropDown" label="Det her er en test" placeholder="Søg efter stationer" items=testItems}}
    </div>
    </div>
    <div class="flex gap-md btn-row">
        {{> button href="/users" text="Annuller" variant="outline"}}
        {{> button type="button" text="Tilføj" variant="primary"}}
    </div>
    {{> footerNav}}
</div>