<div class="flex flex-col gap-xl">
    <h1>{{title}}</h1>
        <div class="flex flex-col gap-lg">
    {{>button type="button" text="Tilføj rengøring" variant="secondary"}}
    {{>seperator}}
{{#each users}}

	<div class="button-box">
		<div class="button-box__title">
             {{firstName}} {{lastName}} 
        </div>
		<img src="../assets/icons/edit.svg" alt="">
	</div>

{{/each}}

    {{>footerNav}}
</div>