<form class="add-form" action="/" method="POST">

  <label for="email">Email</label>
  <input type="email" id="email" name="email" required />

  <label for="password">Kodeord</label>
  <input type="passsword" id="password" name="password" required />
<div class="flex checkbox">
  <input class="checkbox" type="checkbox" id="remember" name="remember">
  <label for="remember">Husk mig</label>
</div>
<div class="flex flex-col gap-sm">
  {{>button type="submit" text="Log ind" variant="primary"}}
	{{>button href="/create-user" text="Opret bruger" variant="outline"}}
</div>
</form>
