<form class="flex flex-col gap-lg" action="/login" method="POST">
  {{>labeledInput type="email" id="email" name="email" label="Email" required=true}}
  {{>labeledInput type="password" id="password" name="password" label="Kodeord" required=true}}
  <div class="flex flex-col gap-md">
    {{>button type="submit" text="Log ind"}}
    {{>button href="/register" text="Opret bruger" variant="outline"}}
  </div>
</form>