<div class="flex flex-col gap-lg">
  <h1>{{title}}</h1>
  <div class="flex flex-col gap-md">
  {{>seperator text="Før billeder"}}
  {{>addPhoto}}
  {{>seperator text="Efter billeder"}}
  <div class="flex flex-col gap-lg">
  {{>addPhoto}}
  {{>label text="Rengøringsopgaver"}}
  {{>dropdownSearch placeholder="Søg efter opgaver" id=tasks}}
  {{>comment}}
  {{>label text="Vælg station"}}
  {{>dropdown}}
</div>
</div>
</div>


<form action="/new-cleaning" method="POST" enctype="multipart/form-data">
  <div>
    <label for="images">Upload billeder (max 16 billeder, 5MB hver):</label>
    <input 
      type="file" 
      id="images" 
      name="images" 
      accept="image/*" 
      multiple
      required
    >
  </div>
  
  {{> button type="submit" text="Upload billeder" variant="primary"}}
</form>