<div class="flex flex-col gap-xl">
  <h1>{{title}}</h1>
  {{>seperator text="Før billeder"}}
      <div>
        <label for="images-before">Upload billeder (valgfrit, max 8 billeder á 5MB)</label>
        <input 
          type="file" 
          id="images-before" 
          name="beforeImages" 
          accept="image/*" 
          multiple
        >
      </div>
      {{>seperator text="Efter billeder"}}
      <div>
        <label for="images-after">Upload billeder (valgfrit, max 8 billeder á 5MB)</label>
        <input 
          type="file" 
          id="images-after" 
          name="afterImages" 
          accept="image/*" 
          multiple
        >
      </div>
  <form action="/new-cleaning" method="POST" enctype="multipart/form-data">
    <div class="flex flex-col gap-md">
      {{>label for=comment text="Kommentar"}}
      {{>comment}}
      </div>
      {{>label for="stationId" text="Vælg station"}}
      <div>
        {{>dropdown
          name="stationId"
          id="stationId"
          placeholder="Vælg en station"
          required=true
          options=stationOptions
        }}
      <div>

      {{>label for="products" text="Vælg produkter"}}
    

      {{> button type="submit" text="Opret rengøring" variant="primary"}}
    </div>
  </form>
</div>