<div class="flex flex-col gap-lg">
  <h1>{{title}}</h1>
  <div class="flex flex-col gap-md">
  {{>seperator text="Før billeder"}}
  {{>addPhoto}}
  {{>seperator text="Efter billeder"}}
  <div class="flex flex-col gap-lg">
  {{>addPhoto}}
  {{>label text="Rengøringsopgaver"}}
  {{>dropdownSearch placeholder="Søg efter opgaver" id=tasks}}
  {{>comment}}
  {{>label text="Station"}}
  {{>dropdown}}
  <div class="flex flex-col gap-lg">
  {{>label text="Produkter"}}
  {{>dropdownSearch}}
  <div class="grid grid-cols-2">
  {{>button type="submit" variant="outline" text="Annuller"}}
  {{>button type="submit" text="Tilføj"}}
  </div>
</div>
</div>
</div>
</div>