<div class="flex flex-col gap-xl">
  <h1>{{title}}</h1>
  </div>
  <form action="/new-cleaning" method="POST" enctype="multipart/form-data">
  {{>seperator text="Før billeder"}}
    <div class="flex flex-col gap-md">
      <div>
        <label for="images-before">Upload billeder (valgfrit, max 8 billeder á 5MB)</label>
        <input 
          type="file" 
          id="images-before" 
          name="beforeImages" 
          accept="image/*" 
          multiple
        >
      </div>
      {{>seperator text="Efter billeder"}}
      <div>
        <label for="images-after">Upload billeder (valgfrit, max 8 billeder á 5MB)</label>
        <input 
          type="file" 
          id="images-after" 
          name="afterImages" 
          accept="image/*" 
          multiple
        >
      </div> 
      
      {{!-- {{>seperator text="Før billeder"}}
      <div class="image-upload">
        <div class="thumbnails" id="beforePreview">
          {{>addPhoto name="beforeImages" previewTarget="beforePreview"}}
        </div>
      </div>
      
      {{>seperator text="Efter billeder"}}
      <div class="image-upload">
        <div class="thumbnails" id="beforePreview">
          {{>addPhoto name="afterImages" previewTarget="afterPreview"}}
        </div>
      </div> --}}

      {{>label for="taskId" text="Opgaver"}}
      {{>dropdownSearch placeholder="Søg efter opgaver..." id="taskId" items=taskOptions}}
      {{>label for=comment text="Kommentar"}}
      {{>comment}}
      
      {{>label for="stationId" text="Station"}}
      <div>
        {{>dropdown
          name="stationId"
          id="stationId"
          placeholder="Vælg en station"
          required=true
          options=stationOptions
        }}
      </div>

      {{>label for="productId" text="Produkter"}}
      {{>dropdownSearch placeholder="Søg efter produkter..." id="productId" items=productOptions}}
      <div id="selected-products" class="product-rows"></div>
    
  
      {{> button type="submit" text="Opret rengøring" variant="primary"}}
      </div>
    
<script type="application/json" id="unitData">
  {{{json unitOptions}}}
</script>
  </form>
