<div class="flex flex-col gap-xl"> 
    <h1>{{title}}</h1>
    <div class="flex flex-col gap-lg">
        {{>button href="/add-product" type="button" text="Tilføj produkt" variant="secondary"}}
        <div class="flex flex-col gap-sm">
            {{#each products}}
                {{>itemCard href=(concat "/products/" id) title=name}}
            {{/each}}
        </div>
    </div>
    {{>footerNav}}
</div>