{{#if error}}
  <div class="error-message">
    <img class="error-message__error-icon" src="\assets\icons\error.png" alt="Fejl"/>
    {{error}}
  </div>
{{/if}} 
{{#if success}} 
  <div class="success-message">
    <img class="success-message__icon" src="\assets\icons\success.png" alt="Success"/>
    {{success}}
  </div>
{{/if}}

<form class="flex flex-col gap-lg" action="/register" method="POST">
  {{>labeledInput type="text" id="first-name" name="firstName" label="Fornavn" required=true}}
  {{>labeledInput type="text" id="last-name" name="lastName" label="Efternavn" required=true}}
  {{>labeledInput type="email" id="email" name="email" label="Email" required=true}}
  {{>labeledInput type="password" id="password" name="password" label="Kodeord" required=true}}
  {{>labeledInput type="password" id="confirm-password" name="confirmPassword" label="Bekræft kodeord" required=true}}

  <div class="flex flex-col gap-md">
    {{>button type="submit" text="Opret bruger"}}
    {{>button href="/login" text="Log ind" variant="outline"}}
  </div>
</form>