<div class="flex flex-col gap-xl"> 
    <h1>{{title}}</h1>
    <div class="flex flex-col gap-lg">
        {{>button href="/add-station" type="button" text="Tilføj station" variant="secondary"}}
        <div class="flex flex-col gap-sm">
            {{#each stations}}
                {{>itemCard href=(concat "/stations/" id) title=companies.name body=(array address (concat postalCode ", " city))}}
            {{/each}}
        </div>
    </div>
    {{>footerNav}}
</div>