$color-blue-dark: #0d2673;
$color-blue-light: #bac9f7;
$color-blue-midnight: #030817;
$color-blue-muted: #667399;
$color-blue-pale: #edf0f7;
$color-red: #e31919;
$color-red-muted: #ffe2e4;
$color-white: #ffffff;
$color-green: #71CF74;

$color-background: $color-blue-pale;
$color-border: $color-blue-dark;
$color-destructive: $color-red;
$color-foreground: $color-blue-midnight;
$color-muted: $color-blue-muted;
$color-primary: $color-blue-dark;
$color-primary-foreground: $color-white;
$color-secondary: $color-blue-light;
$color-secondary-foreground: $color-blue-midnight;
$color-surface: $color-white;
$color-surface-foreground: $color-blue-midnight;
$color-error: $color-red-muted;
$color-success: $color-green;