@use "variables" as *;
@use "colors" as *;

@mixin box {
  padding: $spacing-sm;
  background-color: $color-surface;
  color: $color-surface-foreground;
  border-radius: $border-radius;
}

@mixin icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
