$color-background: #edf0f7;
$color-border: #0d2673;
$color-destructive: #e31919;
$color-foreground: #030817;
$color-muted: #667399;
$color-primary: #0d2673;
$color-primary-foreground: #ffffff;
$color-secondary: #bac9f7;
$color-secondary-foreground: #030817;
$color-surface: #ffffff;
$color-surface-foreground: #030817;
