@use "../abstracts" as *;

.label-add {
	@include text-label;
}

.btn-row {
	width: 100%;
}

.btn-row>* {
	flex: 1;
}

.checkbox {
	margin: 0;
}

.add-form {
	display: flex;
	flex-direction: column;

	//ændrer så det kun er til type text inputs så checkbox virker ordentligt
	input {
		margin-bottom: 2rem;

		@include box;
	}

}