@use "../abstracts" as *;

.label-add {
	@include text-label;
}

.btn-row {
	width: 100%;
}

.btn-row>* {
	flex: 1;
}

.add-station {
	display: flex;
	flex-direction: column;

	input {
		margin-bottom: 2rem;

		@include box;
	}
}