@use "../abstracts" as *;

.btn {
  @include text-label;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing-sm;
  width: 100%;
  height: 2.5rem;
  border-radius: $border-radius;
  cursor: pointer;

  &--primary {
    background-color: $color-primary;
    color: $color-primary-foreground;
  }

  &--secondary {
    background-color: $color-secondary;
    color: $color-secondary-foreground;
  }

  &--outline {
    border: $border-width solid $color-primary;
    background-color: transparent;
    color: $color-foreground;
  }

  &--ghost {
    background-color: transparent;
    color: $color-primary;
  }

  &--destructive {
    background-color: transparent;
    border: $border-width solid $color-destructive;
    color: $color-destructive;
  }
}
