@use "../abstracts" as *;

.comment {
  @include box;
  resize: none;
  display: flex;
  flex-direction: column;
  gap: $spacing-xs;

  &__textarea {
    resize: none;
    @include text-label-body;

    &:focus {
      outline: none;
    }
  }
}