@use "../abstracts" as *;

.dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: $spacing-xs;

  &__content {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    gap: $spacing-xs;
    margin-top: $spacing-xs;
    padding: $spacing-xs;
    width: 100%;
    background-color: $color-surface;
    border-radius: $border-radius;
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;
    max-height: 8.5rem;
    overflow-y: scroll;
  }

  &__item {
    @include text-label-body;

    display: flex;
    align-items: center;
    padding: 0 $spacing-xs;
    height: 2.5rem;
    flex-shrink: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;

    &:hover {
      background-color: $color-background;
      border-radius: $border-radius;
    }
  }

  &__label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__search {
    @include text-input;

    display: flex;
    align-items: center;
    padding: $spacing-xs;
    height: 2.5rem;

    &:focus {
      outline: none;
    }
  }

  &__trigger {
    @include box;
    @include text-label-body;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $spacing-xs;
    width: 100%;
    height: 3rem;
    cursor: pointer;
  }
}
