@use "../abstracts" as *;

.dropdown {
  @include text-label-body;
  display: flex;
  position: relative;
  flex-direction: column;

  &__content {
    @include text-label-body;

    margin-top: $spacing-xs;
    padding: $spacing-xs;
    background-color: $color-surface;
    border-radius: $border-radius;
  }

  &__item {
    @include text-label-body;

    &:hover {
      background-color: $color-background;
      border-radius: $border-radius;
    }

  }
}