@use "../abstracts" as *;

.dropdown-search {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: $spacing-xs;

    &__search {
        @include box;
        @include text-input;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 2;

        &:focus {
            outline: none;
        }
    }

    &__content {
        display: none;
        position: absolute;
        top: 100%;
        flex-direction: column;
        gap: $spacing-xs;
        margin-top: $spacing-xs;
        padding: $spacing-xs;
        width: 100%;
        background-color: $color-surface;
        border-radius: $border-radius;
        z-index: 1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        top: calc(2.5rem + #{$spacing-xs});
        left: 0;
        right: 0;

        &--show {
            display: flex;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
        max-height: 8.5rem;
        overflow-y: auto;
    }

    &__item {
        @include text-label-body;
        display: flex;
        align-items: center;
        padding: 0 $spacing-xs;
        margin-top: $spacing-xs;
        min-height: 2.5rem;
        flex-shrink: 0;

        &:hover {
            background-color: $color-background;
            border-radius: $border-radius;
        }
    }

    &__no-results {
        @include text-label-body;
        padding: $spacing-xs;
        text-align: center;
    }

    &__selected-items {
        @include text-label-body;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: $spacing-sm;
        margin-top: $spacing-sm;
    }

    &__item-tag {
        display: grid;
        gap: $spacing-xs;
        margin-top: $spacing-xs;
    }

    &__item-tag--task {
        display: flex;
        align-items: center;
        width: 100%;
        gap: $spacing-xs;
    }

    &__item-tag--task &__item-text {
        flex: 1;
        width: 100%;
    }

    &__item-text {
        @include box;
        grid-column: span 3 / span 3;
        display: flex;
        align-items: center;
        color: $color-muted;
    }

    &__delete-button {
        grid-column-start: 4;
        @include box;
        width: 50px;
        height: 50px
    }

    &__amount-input,
    &__unit-select {
        @include box;
        @include text-input;
        padding: $spacing-xs $spacing-sm;
        height: 2.5rem;
    }

    &__amount-input {
        grid-column: span 2 / span 2;
        grid-row-start: 2;
    }

    &__unit-select {
        grid-column: span 2 / span 2;
        grid-column-start: 3;
        grid-row-start: 2;
    }

}