@use "../abstracts" as *;

.dropdown-search {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: $spacing-xs;

    &__search {
        @include box;
        @include text-input;
        display: flex;
        align-items: center;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    &__content {
        display: none;
        position: absolute;
        top: 100%;
        flex-direction: column;
        gap: $spacing-xs;
        margin-top: $spacing-xs;
        padding: $spacing-xs;
        width: 100%;
        background-color: $color-surface;
        border-radius: $border-radius;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &--show {
            display: flex;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
        max-height: 8.5rem;
        overflow-y: auto;
    }

    &__item {
        @include text-label-body;
        display: flex;
        align-items: center;
        padding: 0 $spacing-xs;
        height: 2.5rem;
        flex-shrink: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: $color-background;
            border-radius: $border-radius;
        }
    }

    &__no-results {
        @include text-label-body;
        padding: $spacing-xs;
        text-align: center;
    }

    &__selected-items {
        @include text-label-body;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__item-tag {
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        margin-top: $spacing-xs;
    }

    &__item-text {
        @include box;
        flex: 1;
        display: flex;
        align-items: center;
        color: $color-muted;
    }

    &__delete-button {
        @include box;
        display: flex;
        cursor: pointer;
    }
}