@use "../abstracts" as *;

.highlight {
  opacity: 1 !important;
}
.footerNav {
  display: flex;
  justify-content: space-around;
  background-color: $color-primary;
  padding: $spacing-xs;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;

  a {
    display: flex;
    flex-direction: column;
    background-color: $color-primary;
    cursor: pointer;
    border-radius: $border-radius;
    padding: $spacing-xs;
    opacity: 0.5;
  }

  li {
    list-style: none;
  }
  &__icon {
    color: $color-primary-foreground;
  }
  &__text {
    color: $color-primary-foreground;
  }
  &__buttonIcon {
    max-height: $icon-size;
  }
}
