@use "../abstracts" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    cursor: pointer;
  }
}
