@use "../abstracts" as *;

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  button {
    cursor: pointer;
    width: fit-content;
  }
}
