@use "../abstracts" as *;

.error-message {
    display: flex;
    background-color: $color-error;
    color: $color-destructive;
    border-radius: $border-radius;
    padding: $spacing-xs;
    margin-bottom: $spacing-xs;
    border: $color-destructive solid 3px;

    &__icon {
        height: $icon-size;
        margin-right: $spacing-sm;
    }
}