@use "../abstracts" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.5); // dark overlay
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    // fade effect
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.overlay.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    height: 7rem;
    min-width: 20rem;
    background-color: $color-surface;
    border-radius: 0.5rem;

    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

    &__text {
        margin: auto;
    }
}