@use "../abstracts" as *;

.search {
    position: relative;
    width: 100%;

    &__input {
        @include box;
        @include text-label;
    }

    &__dropdown--hidden {
        display: none;
    }
}