@use "../abstracts" as *;

.seperator {
	margin-top: 20px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;

	hr {
		border-top: 3px solid $color-muted;
		padding: 0 1.5rem;
		border-radius: 5px;
		width: 30%;
	}

	div {
		padding: 0 $spacing-xs;
		color: $color-muted;
	}
}