@use "../abstracts" as *;

.seperator {
	margin-top: 20px;
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	font-size: $font-size-xs;

	hr {
		border-top: 1px solid $color-muted;
		border-radius: 5px;
		width: 35%;
	}

	div {
		padding: 0 $spacing-xs;
		color: $color-muted;
	}
}