@use "../abstracts" as *;

.station-item {
  @include box;
  background-color: $color-surface;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-xs;

  &__content {
    display: flex;
    flex-direction: column; 
    gap: $spacing-xs;
  }

  &__text {
    @include text-label-body;

  }

  &__close {
    color: $color-muted;
    display: flex;
    font-size: 1.5rem;
    align-items: center; 
  }

  &:hover {
    cursor: pointer;
  }
}
