@use "../abstracts" as *;

.success-message {
    display: flex;
    background-color: $color-success-muted;
    color: $color-success;
    border-radius: $border-radius;
    padding: $spacing-xs;
    margin-bottom: $spacing-xs;
    border: $color-success solid 3px;

    &__icon {
        height: $icon-size;
        margin-right: $spacing-sm;
    }
}