*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration-line: none;
}

ol,
ul {
  list-style: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

button,
input {
  color: inherit;
  border: none;
  background-color: transparent;
}
