/* Error: Can't find stylesheet to import.
 *    ,
 * 13 | @forward "users-page";
 *    | ^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   styles\components\_index.scss 13:1  @use
 *   styles\main.scss 3:1                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 13 \2502  @forward \"users-page\";\d\a    \2502  ^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   styles\\components\\_index.scss 13:1  @use\a   styles\\main.scss 3:1                root stylesheet";
}
