/* Error: expected "{".
 *    ,
 * 14 | @forward "button-box";
 *    |                      ^
 *    '
 *   styles\components\_index.scss 14:22  @use
 *   styles\main.scss 3:1                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 14 \2502  @forward "button-box";\d\a    \2502                       ^\a    \2575 \a   styles\\components\\_index.scss 14:22  @use\a   styles\\main.scss 3:1                 root stylesheet';
}
